USE [PBS_PROCFIT_DW]
GO
/****** Object:  StoredProcedure [dbo].[USP_FULL_F_VENDAS]    Script Date: 12/05/2022 08:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CARGA_F_VENDAS]( @INCREMENTAL BIT )

AS


IF OBJECT_ID('F_VENDAS') IS NULL
BEGIN

	CREATE TABLE F_VENDAS
	(
	  N_DOC          NUMERIC(9)
	, COD_EMPRESA    NUMERIC(15) REFERENCES D_EMPRESA  ( COD_EMPRESA ) 
	, COD_CLIENTE    NUMERIC(15) REFERENCES D_CLIENTE  ( COD_CLIENTE )
	, COD_VENDEDOR   NUMERIC(15) REFERENCES D_VENDEDOR ( COD_VENDEDOR )
	, MOVIMENTO      DATE
	, COD_PRODUTO    NUMERIC(15) REFERENCES D_PRODUTO  ( COD_PRODUTO )
	, QUANTIDADE     INT
	, VENDA_BRUTA    MONEY
	, DESCONTO_TOTAL MONEY
	, VENDA_LIQUIDA  MONEY
	)

END


IF @INCREMENTAL = 0
BEGIN

	TRUNCATE TABLE F_VENDAS

END


INSERT INTO F_VENDAS

SELECT *
   FROM PBS_PROCFIT_ST.DBO.VW_F_VENDAS